<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Admin profiles
    <hr>
    <a href="/auth/logout">Logout</a>
    <hr>
    <a href="/admin/dashboard">Dashboard</a>
    <hr>
    <a href="/admin/allusers">All Users</a>
    <hr>
    <a href="/admin/user/test4@gmail.com">User</a>
    <hr>
    <a href="/admin/deleteUser/raj@raj.com">Delete user</a>

    <h3>Employer Details</h3>
    <hr>
    <a href="/admin/allemployers">All Employers</a>
    <hr>
    <a href="/admin/employer/em">Get Employer</a>
    <hr>
    <a href="/admin/deleteEmployer/em">Delete Employer</a>
    <hr>


</body>

</html>